body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#language-select {
    background-image: url('images/flag-es.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

#language-select option {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li select {
    background-color: #333;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}
